.g-blog {
    margin-bottom: vr(10);

    @include bp(x-small) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: vr(4) vr(4);
    }
    @include bp(medium) {
        grid-template-columns: repeat(3, 1fr);
    }
    & article {
        padding: vr(2);
        border-width: 1px;
        border-style: solid;
        border-radius: vr(1);
    }
    & article:nth-of-type(7n + 1) {
        background-color: $carrot-l60;
        border-color: $carrot-l40;
    }
    & article:nth-of-type(7n + 2) {
        background-color: $nature-l50;
        border-color: $nature-l30;
    }
    & article:nth-of-type(7n + 3) {
        background-color: $stormy-bay-l40;
        border-color: $stormy-bay-l20;
    }
    & article:nth-of-type(7n + 4) {
        background-color: $nature-l30;
        border-color: $nature-l10;
    }
    & article:nth-of-type(7n + 5) {
        background-color: $stormy-bay-l50;
        border-color: $stormy-bay-l30;
    }
    & article:nth-of-type(7n + 6) {
        background-color: $dark-and-stormy-l60;
        border-color: $dark-and-stormy-l40;
    }
    & article:nth-of-type(7n + 7) {
        background-color: $nature-l40;
        border-color: $nature-l20;
    }

}
