.g-blog__body {

	@include bp(large) {
		display: grid;
		grid-template-columns: minmax(25rem, 30rem) 1fr;

		& > * {
			grid-column: 1 / 3;
		}

		& > *:not(.full):not(.half) {
			grid-column: 1 / 2;
		}
	}
}