$font-sans: 'Chivo', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-serif: 'Literata', Georgia, 'Times New Roman', serif !default;
$font-display: 'Gluten', 'Merriweather sans', sans-serif;
$font-mono: 'PT Mono', 'Ubuntu Mono', Monaco, monospace !default;
