{{ define "main" }}

<main itemscope itemtype="https://schema.org/CollectionPage">
<meta itemprop="mainEntityOfPage" content="{{ .Permalink }}">
 
  <h2 class="t-h-tag mb-2">Series</h2>
  <div class="g-archive">
    {{ range .Site.Taxonomies.series }}
      <a class="o-tag" href="{{ .Page.Permalink }}"><div class="o-tag--title">{{ .Page.Title }}</div><div class="o-tag--count">{{ .Count }}</div></a>
    {{ end }}
  </div>

  <h2 class="t-h-tag mb-2">Tags</h2>
  <div class="g-archive">
    {{ range .Site.Taxonomies.tags }}
      <a class="o-tag" href="{{ .Page.Permalink }}"><div class="o-tag--title">{{ .Page.Title }}</div><div class="o-tag--count">{{ .Count }}</div></a>
    {{ end }}
  </div>
  
</main>

{{ end }}