.l-article-body {
    position: relative;

        & > * {
        max-width: 100%;

            &:not(.o-figure):not(.dialog-container) {
                max-width: var(--max-width);
        }
    }
}