.l-pagination {
  margin: 0 0 vr(6);

  &__indicator, &__item {
    display: inline-block;
    margin-right: vr(4);
    padding: vr(1) vr(2);
    background-color: $nature-l50;
    //border: 1px solid $dark-and-stormy-l50;
    box-shadow: 0 0 0 1px $dark-and-stormy-l50, 0 0 0 2px $nature-l60;
  }

  &__item {
    margin-right: vr(1);
  }

  a {
    display: inline-block;
    padding: vr(1) vr(2);
    margin-right: vr(1);
    background-color: $nature-l40;
    box-shadow: 0 0 0 2px $dark-and-stormy-l40;
    //border: 1px solid $dark-and-stormy-l40;

    &:hover {
      box-shadow: 0 0 0 2px $carrot-d30;
    } 
    &:active {
      box-shadow: 0 0 0 2px $carrot-l30;
      //box-shadow: var(--c-shadow--inset);
    }
  }

}