.s22_1-1 { grid-area: 1 / 1 / span 2 / span 2; }
.s22_1-3 { grid-area: 1 / 3 / span 2 / span 2; }
.s22_1-4 { grid-area: 1 / 4 / span 2 / span 2; }
.s22_1-5 { grid-area: 1 / 5 / span 2 / span 2; }
.s22_1-7 { grid-area: 1 / 7 / span 2 / span 2; }
.s22_3-1 { grid-area: 3 / 1 / span 2 / span 2; }
.s22_3-3 { grid-area: 3 / 3 / span 2 / span 2; }
.s22_3-4 { grid-area: 3 / 4 / span 2 / span 2; }
.s22_3-5 { grid-area: 3 / 5 / span 2 / span 2; }
.s22_3-7 { grid-area: 3 / 7 / span 2 / span 2; }
.s22_4-1 { grid-area: 4 / 1 / span 2 / span 2; }
.s22_4-3 { grid-area: 4 / 3 / span 2 / span 2; }
.s22_4-4 { grid-area: 4 / 4 / span 2 / span 2; }
.s22_4-5 { grid-area: 4 / 5 / span 2 / span 2; }
.s22_4-7 { grid-area: 4 / 7 / span 2 / span 2; }
.s22_5-1 { grid-area: 5 / 1 / span 2 / span 2; }
.s22_5-3 { grid-area: 5 / 3 / span 2 / span 2; }
.s22_5-4 { grid-area: 5 / 4 / span 2 / span 2; }
.s22_5-5 { grid-area: 5 / 5 / span 2 / span 2; }
.s22_5-7 { grid-area: 5 / 7 / span 2 / span 2; }
.s22_7-1 { grid-area: 7 / 1 / span 2 / span 2; }
.s22_7-3 { grid-area: 7 / 3 / span 2 / span 2; }
.s22_7-4 { grid-area: 7 / 4 / span 2 / span 2; }
.s22_7-5 { grid-area: 7 / 5 / span 2 / span 2; }
.s22_7-7 { grid-area: 7 / 7 / span 2 / span 2; }

.s33_1-1 { grid-area: 1 / 1 / span 3 / span 3; }
.s33_1-3 { grid-area: 1 / 3 / span 3 / span 3; }
.s33_1-4 { grid-area: 1 / 4 / span 3 / span 3; }
.s33_1-6 { grid-area: 1 / 6 / span 3 / span 3; }
.s33_3-1 { grid-area: 3 / 1 / span 3 / span 3; }
.s33_3-3 { grid-area: 3 / 3 / span 3 / span 3; }
.s33_3-4 { grid-area: 3 / 4 / span 3 / span 3; }
.s33_3-6 { grid-area: 3 / 6 / span 3 / span 3; }
.s33_4-1 { grid-area: 4 / 1 / span 3 / span 3; }
.s33_4-3 { grid-area: 4 / 3 / span 3 / span 3; }
.s33_4-4 { grid-area: 4 / 4 / span 3 / span 3; }
.s33_4-6 { grid-area: 4 / 6 / span 3 / span 3; }
.s33_6-1 { grid-area: 6 / 1 / span 3 / span 3; }
.s33_6-3 { grid-area: 6 / 3 / span 3 / span 3; }
.s33_6-4 { grid-area: 6 / 4 / span 3 / span 3; }
.s33_6-6 { grid-area: 6 / 6 / span 3 / span 3; }

.p34_1-1 { grid-area: 1 / 1 / span 4 / span 3; }
.p34_1-3 { grid-area: 1 / 3 / span 4 / span 3; }
.p34_1-4 { grid-area: 1 / 4 / span 4 / span 3; }
.p34_1-6 { grid-area: 1 / 6 / span 4 / span 3; }
.p34_3-1 { grid-area: 3 / 1 / span 4 / span 3; }
.p34_3-3 { grid-area: 3 / 3 / span 4 / span 3; }
.p34_3-4 { grid-area: 3 / 4 / span 4 / span 3; }
.p34_3-6 { grid-area: 3 / 6 / span 4 / span 3; }
.p34_5-1 { grid-area: 5 / 1 / span 4 / span 3; }
.p34_5-3 { grid-area: 5 / 3 / span 4 / span 3; }
.p34_5-4 { grid-area: 5 / 4 / span 4 / span 3; }
.p34_5-6 { grid-area: 5 / 6 / span 4 / span 3; }

.p35_1-1 { grid-area: 1 / 1 / span 5 / span 3; }
.p35_1-3 { grid-area: 1 / 3 / span 5 / span 3; }
.p35_1-4 { grid-area: 1 / 5 / span 5 / span 3; }
.p35_1-6 { grid-area: 1 / 5 / span 5 / span 3; }
.p35_4-1 { grid-area: 4 / 1 / span 5 / span 3; }
.p35_4-3 { grid-area: 4 / 3 / span 5 / span 3; }
.p35_4-4 { grid-area: 4 / 4 / span 5 / span 3; }
.p35_4-6 { grid-area: 4 / 6 / span 5 / span 3; }

.l43_1-1 { grid-area: 1 / 1 / span 3 / span 4; }
.l43_1-3 { grid-area: 1 / 3 / span 3 / span 4; }
.l43_1-5 { grid-area: 1 / 5 / span 3 / span 4; }
.l43_3-1 { grid-area: 3 / 1 / span 3 / span 4; }
.l43_3-3 { grid-area: 3 / 3 / span 3 / span 4; }
.l43_3-5 { grid-area: 3 / 5 / span 3 / span 4; }
.l43_4-1 { grid-area: 4 / 1 / span 3 / span 4; }
.l43_4-3 { grid-area: 4 / 3 / span 3 / span 4; }
.l43_4-5 { grid-area: 4 / 5 / span 3 / span 4; }
.l43_5-1 { grid-area: 5 / 1 / span 3 / span 4; }
.l43_5-3 { grid-area: 5 / 3 / span 3 / span 4; }
.l43_5-5 { grid-area: 5 / 5 / span 3 / span 4; }

.s44_1-1 { grid-area: 1 / 1 / span 4 / span 4; }
.s44_1-3 { grid-area: 1 / 3 / span 4 / span 4; }
.s44_1-5 { grid-area: 1 / 5 / span 4 / span 4; }
.s44_3-1 { grid-area: 3 / 1 / span 4 / span 4; }
.s44_3-3 { grid-area: 3 / 3 / span 4 / span 4; }
.s44_3-5 { grid-area: 3 / 5 / span 4 / span 4; }
.s44_5-1 { grid-area: 5 / 1 / span 4 / span 4; }
.s44_5-3 { grid-area: 5 / 3 / span 4 / span 4; }
.s44_5-5 { grid-area: 5 / 5 / span 4 / span 4; }

.p45_1-1 { grid-area: 1 / 1 / span 5 / span 4; }
.p45_1-3 { grid-area: 1 / 3 / span 5 / span 4; }
.p45_1-5 { grid-area: 1 / 5 / span 5 / span 4; }
.p45_4-1 { grid-area: 4 / 1 / span 5 / span 4; }
.p45_4-3 { grid-area: 4 / 3 / span 5 / span 4; }
.p45_4-5 { grid-area: 4 / 5 / span 5 / span 4; }

.l53_1-1 { grid-area: 1 / 1 / span 3 / span 5; }
.l53_1-4 { grid-area: 1 / 4 / span 3 / span 5; }
.l53_3-1 { grid-area: 3 / 1 / span 3 / span 5; }
.l53_3-4 { grid-area: 3 / 4 / span 3 / span 5; }
.l53_4-1 { grid-area: 4 / 1 / span 3 / span 5; }
.l53_4-4 { grid-area: 4 / 4 / span 3 / span 5; }
.l53_5-1 { grid-area: 5 / 1 / span 3 / span 5; }
.l53_5-4 { grid-area: 5 / 4 / span 3 / span 5; }

.l54_1-1 { grid-area: 1 / 1 / span 4 / span 5; }
.l54_1-4 { grid-area: 1 / 4 / span 4 / span 5; }
.l54_3-1 { grid-area: 3 / 1 / span 4 / span 5; }
.l54_3-4 { grid-area: 3 / 4 / span 4 / span 5; }
.l54_5-1 { grid-area: 5 / 1 / span 4 / span 5; }
.l54_5-4 { grid-area: 5 / 4 / span 4 / span 5; }
