<header class="g-wrapper__header">
  <h1 class="o-logo t-logo"><a href="{{ .Site.BaseURL }}" class="o-logo__link">arjanvd<span class="o-logo__link--dot">.</span>nl</a></h1>
  <div class="l-switch">
    <div class="theme-switch-wrapper">
      <label class="theme-switch" for="switch">
        <input type="checkbox" id="switch" role="switch" />
        <div class="slider round"></div>
      </label>
    </div>
  </div> 
    
    {{ partial "nav.html" . }}

  <div class="t-hr">&nbsp;</div>    
</header>
